<!-- /templates/chat/groupchat.html -->
{% extends 'chat/base.html'%} 
{% block title%} Chat Room{%endblock title%}
{% block content%}
<textarea id="chat-log" cols="100" rows="20"></textarea><br>
<input id="chat-message-input" type="text" size="100"><br>
<input id="chat-message-submit" type="button" value="Send">

<script>
    const socket = new WebSocket("ws://127.0.0.1:8000/")
    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup() = function(event){
        if (keyKode === 13 ){
            document.querySelector('#chat-message-submit').click();
        }
    }

    document.querySelector('#chat-message-submit').onclick() = function(event){
        const msDom = document.querySelector('#chat-message-input');
        const message = msDom.value 
        socket.send(JSON.stringify({
            'type' : 'text_message',
            'author': `{{request.user}}`,
            'message': message 
        }))
        msDom.value = '';
    }
</script>


