{% extends 'chat/base.html' %}
{% block title %} Home {% endblock title %}
{% block content %}
    <h1 style="margin-top: 3px;">My Django Chat Home Page</h1>
    <ul>
        {% for group in groups %}
            <div id="{{ group.uuid }}">
                <li><a>{{ group.name }}</a></li>
                {% if request.user in group.members.all %}
                    <button id="leave-{{ group.uuid }}" class="group_option" value="leave_group {{ group.uuid }}">
                        Leave
                    </button>
                {% else %}
                    <button id="join-{{ group.uuid }}" class="group_option" value="join_group {{ group.uuid }}">
                        Join
                    </button>
                {% endif %}
                {% if request.user in group.members.all %}
                    <button id="open-{{ group.uuid }}" class="group_option" value="open_group {{ group.uuid }}">
                        Open
                    </button>
                {% endif %}
            </div>
        {% endfor %} 


        <h1 id="text_serv" style="text-align: center; margin : 1000">Hello world</h1>
            
    </ul>

    <script>
        console.log(location.hostname)
        console.log(location.port)
        const socket = new WebSocket("ws://127.0.0.1:8000/")
        socket.onopen = function(event){
                //console.log("Соединение открыто!")
                //socket.send("Client says Welcome") здесь клиент отправляет серверу ответ клиент -> серверу в функции receive(self, text_data) text_data тут будет находится наше сообщение от клиента
            socket.send("Здарова сервер")
        }
        socket.onmessage = function(event){
                
            console.log(event.data) //event.data - хранит в себе данные от сервера
        }

        function add_event_to_all_buttons(){
            const keys = document.querySelectorAll(".group_option")
            keys.forEach(item => {item.addEventListener('click', send_event_message)})
        }

        
    </script> {% endcomment %}

    


{% endblock content %}